.btm_b{
	width:1500px;
	margin:0 auto;
	.wrap_title_bottom{
		padding:30px 0;
		h2{
			font-weight: bold;
    		font-size: 18px;
    		text-align: center;
		}
	}
	.xiaohai{
		background:url(../img/xiaohai_03.png);
		height:677px;
	}
	.pic_3{
		margin:10px auto;
		li{
			float:left;
		}
	}
}