.hide_nav{
	display:none;
	z-index:2000;
	//position:fixed;
	width:100%;
	top:0;
	left:0;
	height:58px;
	background-color:#0069aa;
	.hide_center{
		@extend .global_center_box;
	}
	.hide_fixed_logo{
		display:block;
		margin:17px 15px 0 0;
		float:left;
	}
	.li{
		position: relative;
		float: left;
		display: inline;
		height: 58px;
		line-height: 58px;
		font-size: 14px;
		padding: 0 2%;
		a{
			display: block;
    		color: #fff;
    		max-width: 56px;
    		height: 40px;
    		overflow: hidden;
		}
	}
}
