html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none; }

.clear:after {
  content: ".";
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block; }

.logo_top {
  background: #f8f8f8; }
  .logo_top .center_box {
    width: 190px;
    margin: 0 auto;
    padding: 50px 0; }
    .logo_top .center_box .box_logo {
      width: 100px;
      height: 100px;
      margin: 0 auto; }
    .logo_top .center_box .logo_title {
      margin-top: 30px;
      border-top: 1px solid #b3b3b3;
      text-align: center;
      color: #333;
      font-size: 20px;
      font-family: "Microsoft YaHei";
      font-weight: normal; }
      .logo_top .center_box .logo_title em {
        position: relative;
        top: -15px;
        background: #f8f8f8;
        padding: 0 20px;
        line-height: 30px;
        font-style: normal; }

.from_wrap {
  padding: 30px 0 30px;
  border-top: 1px solid #eee; }
  .from_wrap h4 {
    text-align: center;
    color: #333;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 50px; }
  .from_wrap .from_box {
    width: 320px;
    margin: 0 auto;
    text-align: center; }
    .from_wrap .from_box .ipt_text, .from_wrap .from_box .ipt_password {
      width: 318px;
      height: 36px;
      margin: 10px 0;
      text-indent: 10px;
      border: 1px solid #dcdcdc;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background: #fff;
      line-height: 36px;
      color: #666;
      font-size: 14px;
      font-family: "Microsoft YaHei"; }
    .from_wrap .from_box .remember {
      float: left;
      line-height: 30px;
      color: #666;
      font-size: 12px; }
    .from_wrap .from_box .regist {
      float: right;
      line-height: 30px;
      color: #06c;
      font-size: 12px; }

#button {
  width: 100%;
  display: block;
  height: 50px;
  margin-top: 5px;
  border-radius: 3px;
  background: #006aaf;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  font-weight: bold; }
  #button:hover {
    background: #005b96; }

#error {
  height: 20px;
  font-family: "Microsoft YaHei";
  color: red; }
